.mainBody {
    padding-top: 30px;
    margin: 20px;
}
.buttons {
    margin: 0 auto;
    width: 260px;
}
.container {
    display: flex;
    justify-content: center;  
    margin-bottom: 30px;  
}


