.title {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleItems {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#titleId {
    width: 50px;
 }
.title > div, .data > div {
    border: 1px solid #000;
    background-color: rgb(237, 237, 237);
    width: 120px;
    text-align: center;
}
.list {
    margin: 0;
	padding: 0;
}
.item {
    max-width: 784px;
    display: block;
    margin: 10px auto;
}
.item > a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
.data {
    display: flex;
}
.data > div {
    border: 1px dashed #000;
}
#date {
    font-size: 14px;
}