.title, .data {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleItem, .dataItem {
    border: 1px solid #000;
    background-color: rgb(237, 237, 237);
    width: 120px;
    text-align: center;
}
.dataItem {
    display: grid;
    font-weight: 400;
    place-content: center;
}
#titleId, #dataItemId  {
    width: 50px;
}
.list{
    margin: 0;
	padding: 0;
}
.item {
    max-width: 784px;
    display: block;
    margin: 10px auto;
}
.item > a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
.data > div {
    border: 1px dashed #000;
}
#dataItemDate {
    font-size: 14px;
}