.mainOffers {
    padding: 60px 0;
    font-family: 'Roboto', sans-serif;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}
.categoryList {
    margin: 0;
	padding: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 315px;
    place-content: center;
    
}
.categoryItems {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #9102A8;
    cursor: pointer;
    list-style: none;
}
.activeCategory{
    border-bottom: 4px solid #FF006B;
}
.moreLink {
    width: 225px;
    height: 80px;
    background-color: #FA95EA;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    transition: 1.5s;
}
.moreLink:hover {
    background-color: #ff76e8;
    color: rgb(254, 255, 171);
}
@media screen and (max-width: 1600px) {
    .categoryList {
        column-gap: 260px;
    }
    .title {
        font-size: 36px;
    }
}

@media screen and (max-width: 1450px) {
    .categoryList {
        column-gap: 190px;
    }
}

@media screen and (max-width: 835px) {
    .categoryList {
        column-gap: 145px;
    }
}

@media screen and (max-width: 700px) {
    .categoryList {
        grid-template-rows: repeat(3, auto);
        column-gap: 1px;
    }
    .categoryList> li:nth-child(even) {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .categoryList> li:last-child {
        grid-column-start: 3;
    }
}

@media screen and (max-width: 430px) {
    .categoryList> li {
        font-size: 18px;
    }
    .moreLink {
        width: 180px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
    }
}